.clouds{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #68adf2;
	color: #2c3e50;
}

.cloud{
	width: 22.5em;
	height: 7.5em;
	background: #f2f9fe;
	-moz-border-radius: 6.25em;
	-webkit-border-radius: 6.25em;
	border-radius: 6.25em;
	position: relative;
	margin: 7.5em auto 1.25em;
}